<configuration>
	<connectionStrings>
		<add name="LibraryDb"
			 connectionString="Data Source=THEANHLE\SQLEXPRESS;
                           Initial Catalog=QLTV_5;
                           Integrated Security=True;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>