<configuration>
	<connectionStrings>
		<add name="LibraryDb"
			 connectionString="Data Source=THEANHLE\THEANH;
                           Initial Catalog=QLTV;
                           User ID=sa;
                           Password=Theanh@123;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
