
<configuration>
	<connectionStrings>
		<add name="LibraryDb"
			 connectionString="Data Source=LAPTOP-S5RC2PLG;
                           Initial Catalog=QLTV;
                           User ID=sa;
                           Password=Anhduc07@;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
